/* Reset */
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: inherit;
}

button {
	border: none !important;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* Globals */
html {
	font-size: 82%;
}

body {
	font-family: "Open Sans", sans-serif;
}

/* Header */
.navbar {
	background-color: #1190cd;
}

.logo-brand {
	background: url(https://cdn1.vivareal.com/p/1-ba36604/v/static/app/svg/styleguide/logo/vivareal-5bcdffca.svg)
		no-repeat 0 44%;
	background-size: 100%;
	width: 7em;
	height: 100%;
}

.nav-item:hover {
	background-color: #249ad1;
	transition: all 0.3s;
}

.nav-link {
	font-weight: 500;
	font-size: 13px;
	color: azure !important;
}

/* Aside */
#aside {
	background-color: #fdd685;

	font-weight: 500;
}

#currency {
	border: none;
	background-color: transparent;
}

.form-switch.form-switch-lg .form-check-input {
	height: 2rem;
	width: calc(3rem + 0.75rem);
	border-radius: 4rem;
}

.form-switch.form-switch-xl .form-check-input {
	height: 2.5rem;
	width: calc(4rem + 0.75rem);
	border-radius: 5rem;
}

/* footer */

.bg-footer {
	background-color: #0a5a80;
}

.bg-footer-2 {
	background-color: #094f70;
}

.site-footer__brand {
	white-space: nowrap;
	background: url(https://cdn1.vivareal.com/p/1-ba36604/v/static/app/svg/styleguide/logo/olxbr-branco.svg)
		no-repeat bottom;
	background-size: cover;
	width: 12em;
	height: 100%;
	display: inline-block;
	position: relative;
}

.site-footer__brand::before {
	position: absolute;
	content: "Uma Empresa";
	top: -1.5em;
}
